.container{
    margin-top: 20px;
    text-align:  center;
}

.selectMonth {
    margin: 0 auto;
    width: 50%;
}

#calendarContainer{
    width: 50%;
    margin:  0 auto;
    margin-top: 20px;
}

table{
    text-align:  center
}

td,th{
    border:  1px solid red;
    padding: 31px;
    
}

.row{
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 0;
}

.currentDate, .nameOfDaysBG{
    background: red;
    color: white;
    font-weight: bold;
}
