
.container-fluid{
    /*margin-top: 20px;*/
    text-align:  center;

}

.selectMonth {
    margin: 0 auto;
    width: 50%;
}

#calendarContainer{
    /*width: 50%;*/
    margin:  0 auto;
    /*margin-top: 20px;*/
}

table{
    text-align: center
}

td,th{
    /*border:  1px solid red;*/
    padding: 31px;
    text-align: center;
    
}


.txtAreaCodeCont{
    height: 100%;
    width: 85%;
   -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    color: black;
    border-radius: 5px;
    margin-left: -70px;
}


.row{
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 0;
}

/*.currentDate, .nameOfDaysBG{
    background: red;
    color: white;
    font-weight: bold;
}*/

#calendarContainer{
    width: 40.8%;
}

.januaryWall{
    background-image: url('../images/darkBlue.jpg');
    background-repeat: no-repeat;
    color: white;
}

.mainContainerJanuaryWall{
     /*background-image: url('../images/darkBlue.jpg');*/
     background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("../images/darkBlue.jpg");
     background-repeat: repeat;

}


.january{
    background-color: #42b6f4;
    opacity: 0.6;
    color: black;
}

.currentDayJanuary{
    background-color: #42b6f4;
    opacity: 0.6;
    color: black;
    font-weight: bold;
}


.februaryWall{
    background-image: url('../images/frozen.jpg');
    background-repeat: no-repeat;
    color: white;
}

.mainContainerFebruaryWall{
     background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("../images/frozen.jpg");
     background-repeat: repeat;
}


.february{
    background-color: #b6e2f9;
    opacity: 0.8;
    color: black;
}

.currentDayFebruary{
    background-color: #b6e2f9; opacity: 0.6;
    color: black;
    font-weight: bold;
}

.march{
    background-color: #84f988;
    opacity: 0.6;
    color: black;
}

.marchWall{
    background-image: url('../images/greenLeaf.jpg');
    background-repeat: no-repeat;
    color: white;
}

.mainContainerMarchWall{
     background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("../images/greenLeaf.jpg");
     background-repeat: repeat;
}

.currentDayMarch{
    background-color: #84f988;
    opacity: 0.6;
    color: black;
    font-weight: bold;
}

.april{
    background-color: #39ef3f;
    color: black;
    opacity: 0.6;
}

.aprilWall{
    background-image: url('../images/spring.jpg');
    background-repeat: no-repeat;
    color: white;
}

.mainContainerAprilWall{
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("../images/spring.jpg");
    background-repeat: repeat;
}

.currentDayApril{
    background-color: #39ef3f;
    opacity: 0.6;
    color: black;
    font-weight: bold;
}

.may{
    background-color: #f9f745;
    color: black;
    opacity: 0.8;
}

.mayWall{
    background-image: url('../images/goldColor.jpg');
    background-repeat: no-repeat;
    color: black;
}

.mainContainerMayWall{
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("../images/goldColor.jpg");
    background-repeat: repeat;
}

.currentDayMay{
    background-color: #f9f745;
    color: black;
    opacity: 0.8;
    font-weight: bold;
}

.june{
    background-color: #fce411;
    color: black;
    opacity: 0.6;
}

.juneWall{
    background-image: url('../images/summer.jpg');
    background-repeat: no-repeat;
    color: black;
}

.mainContainerJuneWall{
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("../images/summer.jpg");
    background-repeat: repeat;
}

.currentDayJune{
    background-color: #fce411;
    color: black;
    font-weight: bold;
    opacity: 0.6;
}

.july{
    background-color: #f9a11d;
    color: black;
    opacity: 0.6;
}

.julyWall{
    background-image: url('../images/julyOptimized.jpg');
    background-repeat: no-repeat;
    color: black;
}

.mainContainerJulyWall{
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("../images/julyOptimized.jpg");
    background-repeat: repeat;
}


.currentDayJuly{
    background-color: #f9a11d;
    color: black;
    font-weight: bold;
    opacity: 0.6;
}

.august{
    background-color: #f93e1d;
    color: black;
    opacity: 0.6;
}

.augustWall{
    background-image: url('../images/endOfSummer.jpg');
    background-repeat: no-repeat;
    color: white;
}

.mainContainerAugustWall{
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("../images/endOfSummer.jpg");
    background-repeat: repeat;
}

.currentDayAugust{
    background-color: #f93e1d;
    color: black;
    font-weight: bold;
    opacity: 0.6;
}

.september{
    background-color: #fc0008;
    color: white;
    opacity: 0.6;
}

.septemberWall{
    background-image: url('../images/september.jpg');
    background-repeat: no-repeat;
    color: white;
}

.mainContainerSeptemberWall{
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("../images/september.jpg");
    background-repeat: repeat;
}

.currentDaySeptember{
    background-color: #fc0008;
    color: white;
    font-weight: bold;
    opacity: 0.6;
}

.october{
    background-color: #9e7ef7;
    color: black;
    opacity: 0.6;
}

.octoberWall{
    background-image: url('../images/october.jpg');
    background-repeat: no-repeat;
    color: black;
}

.mainContainerOctoberWall{
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("../images/october.jpg");
    background-repeat: repeat;
}

.currentDayOctober{
    background-color: #9e7ef7;
    color: black;
    font-weight: bold;
    opacity: 0.6;
}

.november{
    background-color: #662ffc;
    color: white;
    opacity: 0.6;
}

.novemberWall{
    background-image: url('../images/november.jpg');
    background-repeat: no-repeat;
    color: white;
}

.mainContainerNovemberWall{
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("../images/november.jpg");
    background-repeat: repeat;
}

.currentDayNovember{
    background-color: #662ffc;
    color: white;
    font-weight: bold;
    opacity: 0.6;
}

.december{
    background-color: #332ffc;
    color: white;
    opacity: 0.6;
}

.decemberWall{
    background-image: url('../images/december.jpg');
    background-repeat: no-repeat;
    color: white;
}

.mainContainerDecemberWall{
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("../images/december.jpg");
    background-repeat: repeat;
}

.currentDayDecember{
    background-color: #332ffc;
    color: white;
    font-weight: bold;
    opacity: 0.6;
}
